# Default ignored files
/../../AI_CHATBOT_SYSTEM   /.idea/shelf/
/../../AI_CHATBOT_SYSTEM   /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../AI_CHATBOT_SYSTEM   /.idea/httpRequests/
# Datasource local storage ignored files
/../../AI_CHATBOT_SYSTEM   /.idea/dataSources/
/../../AI_CHATBOT_SYSTEM   /.idea/dataSources.local.xml
